<div class="container">
    <h2>Login Field</h2>
<form [formGroup]="ecartForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email"
      [ngClass]="{ 'is-valid': f.email.valid, 'is-invalid': f.email.invalid && f.email.touched }">
      <div *ngIf="f.email.invalid && f.email.touched" class="alert alert-danger">
          Invalid
      </div>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="check">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<p *ngIf="IsSubmitted">
    Email: {{f.email.value}} <br>
    Password: {{f.password.value}}
</p>