
<div class="container-fluid">
    <div class="row">
        <h3 class="text-center" *ngIf="data.length==0">No Data!</h3>
        <div class="col-md-4" *ngFor="let item of data; index as i;">
            <div class="card">
                <div class="card-header p-0">
                    <img class="img-fluid" src="{{item.imagePath}}" />

                </div>
                <div class="card body p-2">
                    <h3>{{item.productName}}</h3>
                    <p>{{item.productDesc}}</p>

                </div>
                <div class="card-footer">
                    <button class="btn btn-primary btn-sm ">Add to Cart</button>
                    <button class="btn btn-primary btn-sm ms-2">Buy Now</button>
                </div>
            </div>
        </div>

    </div>
</div>